build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/main.exe
build/main.pdb
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-e6dbe448b11ce049799c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-35dc45525ae65b9ccb52.json
build/.cmake/api/v1/reply/codemodel-v2-7f67ced3ee4efd91445c.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-my_library-Debug-51770be0c2c29e0fefa5.json
build/.cmake/api/v1/reply/index-2022-11-29T10-02-43-0431.json
build/.cmake/api/v1/reply/target-main-Debug-071bd942e06cfe59550a.json
build/.cmake/api/v1/reply/target-my_library-Debug-7f5d04e916f399687030.json
build/.cmake/api/v1/reply/toolchains-v1-7da06b50308febe5b1cb.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeCCompiler.cmake
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeRCCompiler.cmake
build/CMakeFiles/3.24.202208181-MSVC_2/CMakeSystem.cmake
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/main.dir/empty.cpp.obj
build/CMakeFiles/main.dir/main.cpp.obj
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/my_library/cmake_install.cmake
build/my_library/my_library.lib
build/my_library/CMakeFiles/my_library.dir/my_library.cpp.obj
